@font-face {
    font-family: 'Manrope';
    src: url('../assets/fonts/Manrope-VariableFont_wght.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    /* Light Theme */
    --background-colour: #FCF9F6;
    --header-card-colour: #CEF1E6;
    --button-colour: #F4A2BC;
    --highlight-colour: #352F47;
    --accent-colour: #C5C6CA;
    --text-colour: #333;
}

.dark-theme {
    --background-colour: #2B2B2B; /* or #202020 */
    --header-card-colour: #406C7A;
    --button-colour: #D98CA3;
    --highlight-colour: #958EA3;
    --accent-colour: #E0E1E6;
    --text-colour: #E0E1E6;
}

body {
    font-family: 'Manrope', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--background-colour);
    color: var(--text-colour);
}

#content {
    display: grid;
    justify-content: center;
}