@font-face {
    font-family: 'Manrope';
    src: url('../assets/fonts/Manrope-VariableFont_wght.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --title-color: #dbd8e3; /* Used for menu card titles - Light Purple */
    --header-color: #5c5470; /* Used for header - Dark Purple */
    --description-color: #352f44; /* Used for menu card descriptions - Darker Purple */
    --dark-bg-color: #2a2438; /* Used for dark background - Almost Black Purple */
    --light-text-color: #FFFFFF; /* Used for light text on dark background - White */
    
    /* Additional colors based on the logo and existing palette */
    --accent-color-1: #c2b9c4; /* Lighter accent color for elements like buttons or icons */
    --accent-color-2: #867e91; /* Medium accent color for less prominent headers or borders */
    --call-to-action: #f4c430; /* A warm, cat-like color for call-to-action buttons or highlights */
    --neutral-light: #f0edf6; /* A very light color for backgrounds of selected items or cards */
    --neutral-dark: #201c2b; /* A darker shade for footer or subtle background variations */
    --highlight-color-1: #a8a4b8; /* Slightly lighter purple for hovering states or underlines */
    --highlight-color-2: #7e7491; /* Complementary color for secondary buttons or active states */
}

body {
    font-family: 'Manrope', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--dark-bg-color);
    color: var(--light-text-color);
}

#content {
    display: grid;
    justify-content: center;
}