    #menu-grid {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 1fr);
    }

    .menu-item {
        display: grid;
        border: 2px solid black;
        border-radius: 12px;
        width: 300px;
        height: 400px;
        margin: 8px;
        grid-template-rows: auto 1fr auto;
        position: relative;
        background-color: var(--header-colour);

    }

    .menu-item img {
        width: 100%;
        height: auto;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        color: black;
    }

    .menu-item-desc {
        padding: 8px;
        display: grid;
        flex-direction: column;
        color: white;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        background-color: var(--header-colour);
    }

    .image-container {
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .price-display {
        padding: 4px;
        /* Set background colour to a nice green indicating item price */
        background-color: var(--accent-colour-1);
        text-align: center;
        border-radius: 8px;
        position: absolute;
        bottom: 8px;
        right: 8px;
        width: 80px; /* Adjust the width as needed */
    }